extends layouts/default.pug

block content
  .succeeded.transition-all.duration-250.ease-in-out
    .mb-4.py-20
      h4.text-red-500.text-xl
        | Eliminazione fallita
        br
        | Riprova più tardi.
    .flex.items-center.justify-between.pt-3
      a#register-again.bg-purple-700.text-white.font-bold.py-2.px-4.rounded(href="/" class='hover:bg-purple-900 focus:outline-none focus:shadow-outline' type='button')
        | Registrati di nuovo
